<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="username" value="dshengr"/>
        <property name="password" value="dsr996253"/>
        <property name="url" value="jdbc:mysql://rm-uf6028wykkn88k8yvoo.mysql.rds.aliyuncs.com:3306/dshengr"/>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
    </properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--全局延迟加载，开启之后所有的关联对象都会延迟加载，只有使用的时候才去加载 -->
<!--
        <setting name="lazyLoadingEnabled" value="true"/>
-->
    </settings>
    <typeAliases>
        <typeAlias type="com.dsr.bean.Emp" alias="emp"></typeAlias>
        <typeAlias type="com.dsr.bean.Dept" alias="dept"></typeAlias>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/empMapper.xml"/>
        <mapper resource="mapper/dogMapper.xml"/>
        <mapper resource="mapper/deptMapper.xml"/>
    </mappers>
</configuration>